<!DOCTYPE html>
<html lang="en">
 <head>
   <title>cars liked by user 0</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>cars liked by user 0</h2>
         <form action="like" method="POST">
           <div class="form-group">
             <label for="car_id">Car ID</label>
             <input type="text" class="form-control col-lg-9" id="car_id" aria-describedby="emailHelp" placeholder="Enter car ID" name="car_id">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
   </div>
 </div>
 </body>