<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Attendance System</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Please like cars below</h2>
         <form action="like" method="POST">
           <div class="form-group">
             <label for="netid">Car ID</label>
             <input type="text" class="form-control col-lg-9" id="netid" aria-describedby="emailHelp" placeholder="Enter car ID" name="netid">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
   </div>
 </div>
 </body>

 <body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>Please enter your car infomation for sale</h2>
        <form action="mark" method="POST">
          <div class="form-group">
            <label for="netid">Car ID</label>
            <input type="text" class="form-control col-lg-9" id="2" aria-describedby="emailHelp" placeholder="Enter car ID" name="2">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
</body>

<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>please unlike cars below</h2>
        <form action="mark" method="POST">
          <div class="form-group">
            <label for="netid">Car ID</label>
            <input type="text" class="form-control col-lg-9" id="netid" aria-describedby="emailHelp" placeholder="Enter car ID" name="netid">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
</body>

<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>enter car id to search for car infomation</h2>
        <form action="mark" method="POST">
          <div class="form-group">
            <label for="netid">Car ID</label>
            <input type="text" class="form-control col-lg-9" id="netid" aria-describedby="emailHelp" placeholder="Enter car ID" name="netid">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
</body>

<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>update user account below</h2>
        <form action="mark" method="POST">
          <div class="form-group">
            <label for="netid">Car ID</label>
            <input type="text" class="form-control col-lg-9" id="netid" aria-describedby="emailHelp" placeholder="Enter car ID" name="netid">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
</body>

</html>