<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
</head>
<body>
    <h1>account detail</h1>
    <h2>account username: <%= user_id%></h2>
    <h2>cars you liked</h2>
    <% for(var i=0; i < like_result.length; i++) { %>
        <div class="container mt-4">
            <div class="card">
                <h4>
                    <%= like_result[i].user_id %>
                    <%= like_result[i].car_id %>
                </h4>
                <a href="somepath/">Detail</a>
                <a href="somepath/">Like this car</a>
                <a href="somepath/">Contact seller</a>
                <a href="somepath/">Buy</a>
            </div>
        </div>
    <% } %>

</body>
</html>