<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Used Car Platform</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>

   <div class="container mt-4">
       <h1><a href="useraccount/">My Account</a></h1>
     <div class="card">
       <div class="card-body">
         <h2>Please search for cars below</h2>
         <form action="display_result" method="POST">
           <div class="form-group">
             <label for="search_maker">search_maker</label>
             <input type="text" class="form-control col-lg-9" id="search_maker" aria-describedby="emailHelp" placeholder="Enter car Brand" name="search_maker">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
   </div>
 </div>
 </body>